#main-wrapper > .container {
  max-width: 98% !important;
}

#post-wrapper {
  max-width: 100% !important;
}

.content {
  max-width: 100% !important;
}

#topbar-wrapper {
  max-width: 98% !important;
}
